.menu-recommend-title {
  font-size: 64px;
  font-family: "LOTTERIA CHAB-Regular", Helvetica;
  text-align: left;
  transform: translate(4vw, 0);
}

.menu-recommend-subtitle {
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  transform: translate(4vw, 0);
}
